@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@200;300;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    width: 100%;
    /* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */
}

body {
    background: #181719;
    overflow-x: hidden;
}

.collapse-navbar {
    display: none;
} 


header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    position: relative;
}

.logo h2 {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

.logo {
    border: 1px solid #FFFFFF;
    padding: 10px 35px;
    cursor: pointer;
}

.nav-ul {
    display: inline
}

.nav-links {
    display: inline;
    margin-left: 60px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    padding: 0px 100px;
    margin-top: 80px;
}

.headline-wrapper {
    flex: 2.5;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.image-wrapper {
    flex: 5;
    display: flex;
    flex-direction: column;
    position: relative;
}

.interior-design-img {
    width: 100%;
    min-width: 300px;
}

.designer-box-wrapper {
    width: 430px;
    height: 200px;
    background: #181719;
    z-index: 10;
    position: absolute;
    right: 30px;
    top: 85%;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.designer-info-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.designer-info-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.headline-wrapper h3 {
    font-family: 'Lora', serif;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 40px;

}

.headline-wrapper p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.9rem;
    min-width: 150px;
    width: 60%;
    color: #FFFFFF;
    line-height: 25px;
    margin-bottom: 30px;
}

.headline-wrapper a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 12px;
}

.bio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  
}

.bio-wrapper h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 0.85rem;
}

.bio-wrapper p {
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 5px;
    font-size: 0.75rem;
}

.designed-year-by {
    width: 60%;
    font-size: 1.25rem;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 20px;
    line-height: 30px;
}

footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.read-more-wrapper {
   
    position: relative;
    cursor: pointer;
    
}
.right-arrow {
    color: white;
    position: absolute;
    right: -19px;
    top: -2px;
    display: block;
    
    
}

.material-icons {
    font-size: 50px;
}

.material-icons.md-24 { font-size: 24px; }

.hamburger-menu {
    position: fixed;
    top: 35px;
    right: 20px;
    z-index: 100;
    display: none;

}



.hamburger-line-1 {
    transform-origin: 0% 50%;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.animate-1-out {
    animation-name: animate-1-out;
  }
  
  .animate-1-in {
    animation-name: animate-1-in;
  }



@keyframes animate-1-out {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(42deg);
      }
  }
  @keyframes animate-1-in {
    0% {
        transform: rotate(42deg);
      }
      100% {
        transform: rotate(0deg);
      }
    
  }


  




  .hamburger-line-2 {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    
  }
  
  .animate-2-out {
    animation-name: animate-2-out;
  }
  
  .animate-2-in {
    animation-name: animate-2-in;
  }
  
  @keyframes animate-2-out {
    0% {
      width: 35px;
    }
    100% {
      width: 0px;
    }
  }
  
  @keyframes animate-2-in {
    0% {
      width: 0px;
    }
    100% {
      width: 35px;
    }
  }


  .hamburger-line-3 {
    transform-origin: 0% 50%;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.animate-3-out {
    animation-name: animate-3-out;
  }
  
  .animate-3-in {
    animation-name: animate-3-in;
  }



@keyframes animate-3-out {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-42deg);
      }
  }
  @keyframes animate-3-in {
    0% {
        transform: rotate(-42deg);
      }
      100% {
        transform: rotate(0deg);
      }
    
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .hide {
      visibility: none;
  }


.hamburger-menu span {
    display: block;
    width: 35px;
    height: 2px;
    background: white;
    margin: 10px 0px;
}


@media only screen and (max-width: 950px) {

    .collapse-navbar {

        display: flex;
        height: 100%;
        min-height: 100%;
        width: 0;
        position: fixed;
        z-index: 95;
        top: 0;
        right: 0;
        background-color: #181719;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

    

  }

    .collapse-nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .collapse-nav-link {
        margin: 15px 0;
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        text-transform: capitalize;
        
    }

    .active-link {
        font-weight: bold;
    }
   

    .designer-box-wrapper {
        width: 350px;
    }

    nav {
        display: none;
    }

    .hamburger-menu {
        z-index: 100;
        display: block;
    }

    main {
        padding: 0px 20px;
        flex-direction: column;
        margin-top: 20px;
        
    }

    header {
        
        padding: 0px 20px;
        
    }

    .headline-wrapper p {
         width: 80%;
        
    }

    .headline-wrapper {
        margin-bottom: 40px;
        
        
    }

    .image-wrapper {
        width: 100%;
    }

    .designer-box-wrapper {
        max-width: 80%;
    }
  }



